.form-style {
  display: block;
  margin-bottom: 15px;
}

.form-style .input {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  box-sizing: border-box;
  margin-top: 10px;
}

textarea {
  height: 150px;
}